<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/linkgamers-48918.appspot.com/o/Capa%201.svg?alt=media&token=e4418186-57d9-40f6-ad82-454fb7817dff">
    <title>LinkGamers</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="mount"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
