<template>
    <div class="form_container">
      <div class="form_title">
        <img src="https://firebasestorage.googleapis.com/v0/b/linkgamers-48918.appspot.com/o/Capa%201.svg?alt=media&token=e4418186-57d9-40f6-ad82-454fb7817dff">
        <h2>LinkGamers</h2>
      </div>

      <form v-on:submit.prevent="processLogInUser">
        <input type="text" v-model="user.username" placeholder="Nombre de usuario" /> 
        <input type="password" v-model="user.password" placeholder="Contraseña" /> 
        <button type="submit">Iniciar Sesión</button>
      </form>
      <!--<a href="#">¿Olvidaste la contraseña?</a>-->
      <p>¿Aún no estás registrado? <a v-on:click="loadSignUp">¡Regístrate!</a></p>
      <p id="login-error">Su usuario o contraseña es incorrecta😳</p>
    </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LogIn",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },

  methods: {
    loadSignUp: function () {
        this.$router.push({ name: "signUp" });
        },

    processLogInUser: function () {
      axios
        .post("https://linkgamers.herokuapp.com/login/", this.user, {
          headers: {},
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          /* console.log(`user: ${this.user}`)
          console.log(`result ${result.data.access}`) */
          
          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
          console.log(error)
          if (error.response.status == "401"){
            /* alert("ERROR 401: Credenciales Incorrectas."); */
            const text = document.querySelector('#login-error')
            text.style.display = 'block'
          }
        });
    },
  },
};
/*fetch('https://linkgamers.herokuapp.com/game/1/').then(response => response.json()).then(data => {console.log(data)})*/
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  *{
    font-family: 'Ubuntu Mono';
  }

  html{
    font-size: 7px;
  }

  :root{
    --fondo: #2C1D6C;
    --purple: #342192;
    --fucsia: #EE67DD;
  }

  .form_container{
    border-radius: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 73.4rem;
    height: 52.1rem;
    background-color: var(--purple);
  }

  .form_title{
    display: flex;
    align-items: center;
  }

  .form_title h2{
    font-size: 6.0rem;
    color: var(--fucsia);
  }

  img{
    filter: drop-shadow(-3px 4px 4px rgba(0, 0, 0, 0.25));
    margin-inline-end: 3rem;
    width: 14.5rem
  }

  form{
    height: 24.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  input{
    background-color: var(--fondo);
    border: none;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.9rem;
    width: 63.0rem;
    
    text-align: center;
    font-size: 3.8rem;
    color: var(--fucsia);
  }

  input::placeholder{
    text-align: center;
    font-size: 3.8rem;
  }

  button{
    color: var(--fondo);
    background-color: var(--fucsia);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.4rem;
    border: none;
    height: 5.9rem;
    width: 63.0rem;
    font-size: 3.8rem;
    cursor: pointer;
  }

  button:hover{
    color: white;
  }

  p{
    font-size:2.6rem;
  }

  a{
    font-size:2.6rem;
    color: var(--fucsia);
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  #login-error{
    display:none;
    position: absolute;
    bottom: 13rem;
    color: red;
  }

  

</style>