<template>
  <!--<div id="app" class="app">
  </div>-->
  <div v-if="is_auth" class="header">
    <img class = "header_img" src="https://firebasestorage.googleapis.com/v0/b/linkgamers-48918.appspot.com/o/Capa%201.svg?alt=media&token=e4418186-57d9-40f6-ad82-454fb7817dff">
    <nav class="header_list">
      <button class="header_button" v-if="is_auth" v-on:click="loadHome">Inicio</button>
      <button class="header_button" v-if="is_auth" v-on:click="loadAccount">Perfil</button>
      <button class="header_button" v-if="is_auth" v-on:click="logOut">Cerrar Sesión</button>
    </nav>
  </div>

  <div class="main-component">
    <router-view
      v-on:completedLogIn="completedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:logOut="logOut"
    >
    </router-view>
  </div>

  <!--<div class="footer">
      <h2>Misión TIC 2022</h2>
    </div>
  </div> -->
</template>

<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "logIn" });
      else this.$router.push({ name: "home" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      /* alert("Autenticación Exitosa"); */
      this.verifyAuth();
    },

    completedSignUp: function (data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },

    loadHome: function () {
      this.$router.push({ name: "home" });
    },

    loadAccount: function () {
      this.$router.push({ name: "account" });
    },

    logOut: function () {
      localStorage.clear();
      /* alert("Sesión Cerrada"); */
      this.verifyAuth();
    },
  },

  created: function () {
    this.verifyAuth();
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Ubuntu Mono";
  box-sizing: border-box;
}

html {
  font-size: 7px;
}

:root {
  --fondo: #2c1d6c;
  --purple: #342192;
  --fucsia: #ee67dd;
  --black: hsla(0, 0%, 0%, 0.34);
}

body {
  margin: 0 0 0 0;
}

#mount {
  background-color: var(--fondo);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 6.3rem;
  right: 12.6rem;
  width: 441px;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:12.5rem;
  margin-inline-end: 3rem;
}

.header_img{
  width:12.5rem;
  margin: 0;
  margin-block-end: 1rem
}

.header_list{
  display: none;
}

.header:hover .header_list{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 13.5rem;
}

.header_button{
  font-size: 3rem;
  width: 22rem;
  height: 4rem;
}

</style>
